@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
@inject UserManager<IdentityUser> UserManager;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     
    <h1 class="display-4">Bermuda IT</h1>

    @if (SignInManager.IsSignedIn(User))
    {
        <p>Hello @User.Identity.Name</p>
    }
    else
    {
        <p>Please Register or Sign In to Continue.</p>
    }

    <div class="banner">

    </div>
    <p>Check here for the latest transmissions from Bermuda Airlines.</p>
    <p>Keep up to date on the latest luxury entertainment content.</p>


    <div class="featured">
        <h2>Featured Music</h2>
        <em><p>Autumn Arcade - "Gathering Emeralds"</p></em>
        <iframe width="600" height="400" src="https://www.youtube.com/embed/ORBR3Slem1c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
                picture-in-picture" allowfullscreen></iframe>
    </div>

</div>

